/* Kalam-Regular*/
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Regular.woff2 ") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

/* Regular 400 : OpenSans-Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
/* Regular 400 Italic :  OpenSans-Italic */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
/* SemiBold 600 :  OpenSans-SemiBold */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
/* Bold 700 : OpenSans-Bold*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

/* PlayfairDisplay-Regular*/
@font-face {
  font-family: "Playfair Display";
  src: url(" ../fonts/PlayfairDisplay-Regular.woff2 ") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
